.bg_cont {
	border: 1px solid black;
    height: 610px;
    width: 820px;
    margin: 0 auto;
    margin-top: 28px;
    border-radius: 20px;
    background-color: #222A34;
    position: relative;
}

.header_title {
	color: white;
    font-size: 40px;
    text-align: right;
    padding-top: 10px;
    margin-right: 20px;
    font-family: 'Aduma';
}

.close_top {
	position: absolute;
    top: 20px;
    left: 20px;
}

.gray_btn {
    background-color: #475366;
    color: #ffffff94;
    width: 100px;
    padding: 7px;
    text-align: right;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: 10px;
    font-size: 11px;
    cursor: pointer;
}

.upload_btn {
    margin-left: 20px;
	background-image: url('./assets/Upload.png');
}


.upload_btn_text {
    color: #ffffff96;
    font-size: 12px;
    direction: rtl;
    position: absolute;
    top: 65px;
    left: 150px;
    /* 235px */
}

.upload_btn_text_nudge {    
    left: 235px;
}
.content_div {
	display: flex;
	justify-content: space-evenly;
	/* border: 1px solid white; */
	width: 100%;
	height: 460px;
	margin-top: 10px;
}

.content_right {
	/* border: 1px solid white; */
	height: 100%;
	width: 33%;
	background-color: #2F3A4B;
	border-radius: 10px;
}
.content_right_middle{
	/* border: 1px solid white; */ 
    width: 100%;
    height: 78%;
    margin-top: 21%;
    background-color: #161B21;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.content_left_middle {
    width: 100%;
    height: 78%;
    background-color: #161B21;
    display: flex;
    align-items: center;
}
.content_left {
	/* border: 1px solid white; */
	height: 100%;
	width: 65%;
	background-color: #2F3A4B;
	border-radius: 10px;
}
.tabs_cont {
	display: flex;
	flex-direction: row-reverse;
}

div.tabs_cont > div {
	font-size: 16px;
    font-weight: 700;
    /* font-family: 'Aduma'; */
    text-align: center;
    color: white;
    margin: 18px 0 0px;
    padding: 0 20px;
    width: 100px;
    padding-bottom: 18px;
}

.text_bg_no_bg {
	background-image: url('./assets/Cleanup\ Edges.png');
	background-repeat: no-repeat;
    background-position: 115px 3px;
    cursor: pointer;
}

.text_bg_orig {
	background-image: url('./assets/Image.png');
	background-repeat: no-repeat;
    background-position: 97px 3px;
    cursor: pointer;

}

.border_bottom_selected {
    border-bottom: 3px solid #9c27b0;

}

.footer_text {
    color: #ffffff63;
    text-align: right;
    font-size: 9px;
    margin-top: 20px;
    padding-right: 6px;
}
.footer_btn {
    border: 0;
    position: relative;
    top: -20px;
    left: 5px;
    background-image: url('./assets/eula.png');
}

.overlay_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: #3e3e3e82;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}
.show_eula {
    background-color: white;
    /* display: block; */     /* left: 121px; */
    z-index: 2;
    height: 573px;
    position: absolute;
    top: 27px;
    width: 782px;
    border-radius: 23px;
    padding: 20px;
}

.eula_text {
    padding: 20px;

}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}


.upload_input {
    display: none;
}

.err_msg {
    color: yellow;
    position: absolute;
    top: 62px;
    left: 147px;
    font-size: 11px;
    border: solid yellow;
    padding: 2px;
}


.loadingBar {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 50%;
    height: 28px;
    position: absolute;
    top: 316px;
    margin-left: 60px;
    box-shadow: 1px 1px 10px #475366;
}

.loadingBarPercent {
    display: flex;
    align-items: center;
    justify-content: center;
     color: white;
    margin: 0 2px;
	background: linear-gradient(90deg, rgba(103,58,183,1) 10%, rgba(33,150,243,1) 92%);
    height: 88%;
    width: 39%;
}