.img_bg {
    max-height: 355px;
    margin-top: 1.9%;
}

.top_text {
    color: #2196f36a;
    text-align: right;
    font-size: 12px;
    padding-left: 10px;

    /* padding-right: 10px; */
    /* margin-top: 20px; */
    /* float: right; */
}

.color_btn {
    padding: 6px;
    border: 4px inset #ffffff8a;
    background-color: #161B21; /* transparent */
    color: #ffffff8a;
    border-radius: 13px;
    width: 90px;
    /* margin: 10px 0; */
    cursor: pointer;
}

.disp_img_cont {
    /* position: relative; */
}

.color_input {
    opacity: 0;
    left: 123px;
    position: absolute;
}

.disp_img_opts {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: -30px;

    position: absolute;
    top: 200px;
    left: 37px;
}
.color_span {
    /* border: 1px solid white; */
    /* padding-right: 15px; */
    margin-left: 3px;
    position: absolute;
    background: transparent;
    border-radius: 0 8px 8px 0;
    width: 15px;
    height: 27px;
    top: 4px;
}