
.download_cont {
	padding: 10px;
	color: white;
}

.download_title {
	text-align: right;
	font-family: 'Aduma';
	font-size: 26px;
}

.download_desc {
	text-align: right;
	font-family: 'Aduma';
	font-size: 19px;
}
.download_btn {
	color: #03A9F4;
    /* font-family: 'Aduma'; */
    border: 1px solid #03A9F4;
	cursor: pointer;
}

.default_btn {
	text-align: center;
	font-size: 14px;
	border-radius: 20px;
	margin: 15px 0px;
    padding: 6px 0;
}

.disabled_btn {
	border: 1px solid gray;
	color: gray;
	cursor:not-allowed;
}
.small_text_download {
	font-size: 14px;
	text-align: right;
	font-family: 'Aduma';
	/* padding-right: 10px; */
}

.new_icon{
	position: relative;
	top:8px;
	right:-10px;
}

.border_comp_top {
	border-top: 1px solid white;
}

.check_icon {

    padding-left: 3px;
}